.img{ 
    border-radius: 100%;
    border: 3px solid white;
    max-width: 30%;
}

.form{
    display:ruby;
    justify-content: space-evenly;
    margin-top: 10%;
    height: 720px;
}

.label{
    
    font-size: 20px;
    font-family:'Lucida Sans', Verdana;
    -webkit-text-stroke: 0.6px rgb(255, 255, 255);
    
}

.input{
    background-color:  rgba(204, 204, 204, 0.9);
    color: rgba(0, 0, 0);
    background: rgb(255, 255, 255 0.6);
    border:rgb(250, 128, 114, 0.6);
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family:'Lucida Sans', Verdana;
}
.boton{
    font-size: 18px;
    background-color:  rgba(204, 204, 204, 0.9);
    border:rgb(250, 128, 114, 0.6);
    border-radius: 50px;
    margin-bottom: 5px;
    font-family:'Lucida Sans', Verdana;
}
