.nav{
    display: flex;
    background-color: rgba(51, 51, 51, 0.9);
    align-items: center;
    justify-content: space-around;
    height:6.94%;
    
}
.nav:hover{
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from   {background-color: rgba(51, 51, 51, 0.9);}
    to     {background-color: rgba(51, 51, 51, 0);}
}

.home {
    background-color:  rgba(204, 204, 204, 0.9);
    border:rgb(250, 128, 114, 0.6);
    width: 70px;
    height: 35px;
    border-radius: 50px;
}

.about{
    background-color:  rgba(204, 204, 204, 0.9);
    border:rgb(250, 128, 114, 0.6);
    width: 70px;
    height: 35px;
    border-radius: 50px;
}
